$pri:hsl(78, 100%, 30%) ;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
body,*{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    @media print {
        visibility: hidden;
        .Loginer{
            height: 0;
            width: 0;
            
        }

    }
}
